<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:58285/DataService.svc/DataServiceWS" binding="wsHttpBinding" contract="DataContracts.IDataService" name="dataservice" />
    </client>
  </system.serviceModel>
</configuration>